.projectsList {
    /*display: grid;*/
    /*grid-template-columns: repeat(1, 1fr);*/
    text-transform: uppercase;
}

.projectEntry {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 2%;
    /*margin-top: 2%;*/
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 5px black;
    padding-left: 2%;
    padding-right: 2%;
}


.projectName {
    margin-top: auto;
    margin-bottom: auto;
}

.containersStatus {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.projectStatus {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
/*.projectEntry {*/
/*    color: DodgerBlue;*/
/*    padding: 4rem 8rem;*/
/*    display: inline-block;*/
/*    border: 3px solid #333333;*/
/*    font-size: 2.5rem;*/
/*    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;*/
/*    background: #ffffff;*/
/*    position: relative;*/
/*}*/

/*.projectEntry::before {*/
/*    content: '';*/
/*        border: 2px solid #353535;*/
/*        display: block;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        position: absolute;*/
/*        top: 50%;*/
/*        left: 50%;*/
/*        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.9deg);*/
/*        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;*/
/*}*/

